.authform
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f|
    %h3 Inicio De Sesi칩n
    = devise_error_messages!
    .form-group
      = f.label :email, "Usuario"
      = f.email_field :email, :autofocus => true, class: 'form-control'
    .form-group
      - if devise_mapping.recoverable?
        = link_to "Olvidaste la contrase침a?", new_password_path(resource_name), class: 'right'
      = f.label :password, "Contrase침a"
      = f.password_field :password, class: 'form-control'
    = f.submit 'Iniciar Sesi칩n', :class => 'button right'